@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
        url('../fonts/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
        url('../fonts/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
        url('../fonts/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Gilroy, 'Arial', sans-serif;
}

.conteiner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top{
    padding-top: 15px;
    padding-bottom: 16px;
    display: inline-block;
    border-bottom: 1px solid;
    border-color: rgba(238, 238, 238, 0.6);
    width: 100%;
}

.header-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__top-left{
    display: flex;
    align-items: center;
}

.header-address{
    display: flex;
    align-items: center;
}

.header-address-text{
    display: flex;
    align-items: center;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    margin-right: 29px;
}

.header-address-text::before{
    content: "";
    width: 14px;
    height: 16px; 
    display: block;
    background-image: url(../images/location.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
}

.header-email{
    color: black;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

.header-email::before{
    content: "";
    width: 20px;
    height: 16px;
    display: block;
    background-image: url(../images/mail.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 7px;
}

.header__top-right{
    display: flex;
    align-items: center;
}

.header-language{
    border: none;
    appearance: none;
    width: 53px;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-size: 7px 4px;
    background-position: center right;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 31px;
}


[value]{
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    
}

.header__top-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;
}

.header__top-item{
    margin-right: 20px;
}

.header__top-item:last-child{
    margin-right: 0;
}

/* .header-line{
    display: inline-block;
    border-bottom: 1px solid;
    border-color: rgba(238, 238, 238, 0.6);
    width: 100%;
} */

.header__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__bottom-left{
    display: flex;
    align-items: center;
}

.logo{
    margin-bottom: 0;
    padding-bottom: 0;
}

.header__bottom-right{
    display: flex;
    align-items: center;
}

.header__bottom-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-right: 46px;
    margin-top: 0;
    margin-bottom: 0;
}

.header__bottom-item{
    margin-right: 34px;
}

.header__bottom-item:last-child{
    margin-right: 0px;
}

.header__bottom-link{
    color: black;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    
}

.header__bottom-link-active{
    color: #76A713;
}

.header-login{
    color: white;
    text-decoration: none;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 29px;
    background-color: rgba(118, 167, 19, 1);
    margin-right: 10px;
}

.header-login:hover{
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.09);
}

.header-buttons{
    display: flex;
    align-items: center;
}


.search{
    border:none;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-image: url(../images/search.png);
    background-repeat:no-repeat;
    background-size: 12px 12px;
    background-position: center;
    margin-right: 10px;
}

.basket{
    border:none;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    background-image: url(../images/korzinka.png);
    background-repeat:no-repeat;
    background-size: 15px 15px;
    background-position: 9px 14px ;
    position: relative;
}

.basket-number{
    font-family: Gilroy;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;    
    padding: 1px 3px;
    background-color: rgba(118, 167, 19, 1);
    border-radius: 50%;
    position: absolute;
    top: 8px ;
    right: 12px ;
}



.search:hover, .basket:hover{
    background-color: rgba(238, 238, 238, 0.5);
    cursor: pointer;
}

.hero-wrapper{
    background-color: rgba(118, 167, 19, 0.31);
}

.huge-conteiner{
    max-width: 1330px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    background-image: url(../images/hero-vegatables.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 37px top 84px;
}

.left-arrow{
    background-color: #76A713;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    left: 15px;
    top: 280px;
}

.right-arrow{
    background-color: rgba(251, 251, 251, 0);
    border: 1px solid #76A713;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 280px;
}

.left-arrow:hover, .right-arrow:hover{
    cursor: pointer;
    background-color: 
    rgba(0, 130, 244, 0.09)
}

.left-arrow:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.hero{
    position: relative;
    display: flex;
    padding-top: 100px;
    padding-bottom: 201px;
    max-width: 1170px;
}


.hero__left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero__hedding{
    display: flex;
    flex-direction: column;
    width: 473px;
    font-family: Oswald;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: 119px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 28px;
}

.hero-small-hedding{
    font-family: Oswald;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;  
    text-transform: uppercase; 
    color: #76A713;
    margin: 0; 
}

.hero__link{
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    padding: 15px 36px;
    color: white;
    background-color: #76A713;
    text-transform: uppercase;
    text-decoration: none;    
}

.hero__link:hover{
    box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.1);
}

.hero__right{
    position: absolute;
    right: -30px;
    top: 75px;
}

.customers{
    max-width: 1170px;
    padding: 70px 40px 70px 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color:white;
    border: 1.5px solid #DDDDDD;
    transform: translatey(-100px);
}

.customers__page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.customers__page-first ,.customers__page-second, .customers__page-third, .customers__page-fourth{
    display: flex;
    align-items: center;
    flex-direction:row ;
    justify-content: center;
}

.customers__page-first::before{
    content: "";
    display: block;
    width: 60px;
    height: 40px;
    background-image: url(../images/hero-icon1.png);
    background-repeat: no-repeat;
    margin-right: 20px;
}

.customers__page-second::before{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../images/hero-icon2.png);
    background-repeat: no-repeat;
    margin-right: 20px;
}

.customers__page-third::before{
    content: "";
    display: block;
    width: 60px;
    height: 54px;
    background-image: url(../images/hero-icon3.png);
    background-repeat: no-repeat;
    margin-right: 20px;
}

.customers__page-fourth::before{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../images/hero-icon4.png);
    background-repeat: no-repeat;
    margin-right: 20px;
}



.customers-hedding{
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;  
    margin: 0;  
    margin-bottom: 6px;
}

.customers-text{
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(102, 102, 102, 1);
    margin: 0;  
}

.bdr-customers{
    display: inline-block;
    width: 50px;
    border: 1px solid #DDDDDD;
    transform: rotate(90deg);
    margin: 0 auto;
}

.food-store{
    display: flex;
    justify-content: space-between;
    padding-bottom: 105px;
}

.food-store__left{
    display: flex;
    align-items: start;
    margin-right: 24px;
}

.food-store__left-image1{
    margin-right: 30px;
}

.food-store__left-image2{
    margin-bottom: 30px;
}



.food-store__left-right-text{
    margin: 0;
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(118, 167, 19, 1);
    padding: 10px 81px;
    border: 1.5px dashed rgba(118, 167, 19, 0.5);
}

.food-store__right{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.food-store__right-hedding{
    font-family: Oswald;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 89px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    margin-bottom: 39px;
    max-width: 517px;
    text-transform: uppercase;
    margin-top: -22px;
}

.food-store__right-text{
    margin: 0;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(136, 136, 136, 1);
    margin-bottom: 35px;
}

.blockquote{
    margin: 0;
    font-family: Gilroy;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;
    border-left: 2px solid #76A713;
    padding-left: 19px;
    margin-bottom: 7px;
}

.blockquote::after{
    content: "";
    display: block;
    width: 28px;
    height: 20px;
    background-image: url(../images/quote1.png);
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 372px;
    margin-top: -8px;
}

.name-blockquote{
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: black;   
    margin-bottom: 3px; 
}

.job-blockquote{
    margin: 0;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;    
}